*{
  scroll-behavior: smooth;

}
.number{
    background-color:#ab3550;
    padding: 25px 0;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.number .row{
    margin: 10px 0px;
}
.number h2{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;

}
.number h6{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
/* section about  */
.pride{
  background-color: transparent;
  padding: 25px 0;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 60px;
}
.pride img{
  max-width: 100%;
  border-radius: 10px;

}
.pride h2{
  font-size: 35px;
  font-weight: bold;
  width: 80%;
  margin: 10px 0;
  color: #ab3550;
  line-height: 50px;

}
.pride p{
  font-size: 16px;
  line-height: 28px;
  color: #333;
  margin-top: 15px;
}
.pride button{
  background-color: #ab3550;
  border: 1px solid #ab3550 ;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease;

}
.pride button a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.pride button:hover a{
  color: #ab3550;
}
.pride button:hover{
  background-color: #fff;

}
/* ingredients section */
.ingredients{
  margin-top: 50px;
  max-width: 100%;
  height: auto;
  text-align: left;
  overflow: hidden;
}
.ingredients h2,
.stomach h2{
    font-size: 35px;
  font-weight: bold;
  width: 80%;
  margin: 10px 0;
  color: #ab3550;
  line-height: 50px;
}
.ingredients p
.stomach p{
  font-size: 16px;
  line-height: 28px;
  color: #333;
  margin-top: 15px;
}
.ingredients button{
  background-color: #ab3550;
  border: 1px solid #ab3550 ;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease;

}
.ingredients button a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.ingredients button:hover a{
  color: #ab3550;
}
.ingredients button:hover{
  background-color: #fff;

}
.ingredients ul{
  padding: 0px;
}
.ingredients ul li{
list-style-type: square;
color: #333;
margin-top: 10px;
}
.ingredients img{
  max-width: 100%;
  border-radius: 10px;
}
/* stomach section */
.stomach{
  background: url(../../assets/bac5.webp) center no-repeat;
  background-size:cover;
  width: 100%;
  height: auto;
  padding: 30px 0px;
  text-align: center;
}
.stomach a{
  color: #6e0d23;
  font-size: 20px;
  margin: 20px 0px;
  text-decoration: none !important;
}
.stomach h2{
  width: 100%;
  margin: 20px 0px;
}
.stomach p{
  margin: 20px;
  color: #444;
  line-height: 32px;
}
.stomach .row{
  margin: 50px 0px;
}
/* product section :start */
.pro{
  margin-top: 50px;
  padding: 25px ;
  overflow: hidden;
  width: 100%;
  height: auto;

}
.pro .row:first-child{
  text-align: center;
  margin: 25px 0px;

}
.pro h2{
  font-size: 45px;
  font-weight: bold;
  width: 100%;
  margin: 10px 0;
  color: #ab3550;
  line-height: 50px;
}
.pro p{
  font-size: 16px;
  line-height: 28px;
  color: #333;
  margin-top: 15px;
}
.pro .box img{
  max-width: 100%;

}
.pro .box{
  width: 100%;
  border: 1px solid #ffffff;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 15px;

}
.pro h5{
  color: #ab3550;
font-size: 22px;
margin: 15px 0px;

}
.pro .box span {
 display: block;
 color: #444;
 font-size: 16px;
 margin: 10px 0;
 text-transform: uppercase;
 letter-spacing: 1px;
}
.pro .box h6{
  color: #650018;
  font-size: 22px;
}
.pro button{
  background-color: #ab3550;
  border: 1px solid #ab3550 ;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease;
  margin: 10px;
}
.pro button a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.pro button:hover a{
  color: #ab3550;
}
.pro button:hover{
  background-color: #fff;
}
/* .slider  */
.slider{
  background-color: #ab3550;
  border: 1px solid #ab3550;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 25px;
}
.slider img{
  border-radius: 50%;
  width: 100px;
  height: 100Px;
  margin: 20px 0px;
  margin-bottom: 150px;
}
.slider .Carousel.Caption p{
  color: #212121;
  font-size: 17px;
  line-height: 30px;

}
.slider .Carousel.Caption span{
  color: #ab3550;
  display: block;
  margin: 15px 0px;
  text-transform: uppercase;
  font-size: 17px;
}
.slider .Carousel {
margin-top: 60px;
margin-bottom: 60px;
}
.h2r{
  color: #fff;
}
.questions{
 margin: 70px 0px;
}
.questions-h2{
  text-align: center;
  margin-bottom: 60px;
  
}
.questions h2{
  color: #ab3550;
}
.Baked{
  background: url(../../assets/bac1.webp) center no-repeat;
  background-size:cover;
  width: 100%;
  height: auto;
  padding: 60px 0px;
  color: #fff;
}
.Baked button{
  background-color: #ab3550;
  border: 1px solid #ab3550 ;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease;
  margin: 10px;

}
.Baked button a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.Baked button:hover a{
  color: #ab3550;
}
.Baked button:hover{
  background-color: #fff;
}
.Baked .row:last-child{
  text-align: center;
}

.subscribe{
  margin: 150px 0px;
  line-height: 50px;
}
.subscribe .row{
  text-align: center;
}
.subscribe .row h2{
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  
  color: #ab3550;
}
.subscribe input{
  width:300px;
  height: 50px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.subscribe button{
  background-color: #ab3550;
  border: 1px solid #ab3550 ;
  box-sizing: border-box;
  width: 140px;
  height: 50px;
  text-align: center;
  transition: 0.3s ease;
  
}
.subscribe button a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.subscribe button:hover a{
  color: #ab3550;
}
.subscribe button:hover{
  background-color: #fff;
}
.sub2{
  text-align: center;
}
.footer .row img{
  max-width: 100%;
  width: 20px;
}
.footer{
  padding-top: 60px;
  height: 300px;
  width: 100%;
  background-color: #ab3550;
  text-align: center;
  color: #fff;
}
.footer a{
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
}
.footer .row{
  line-height: 40px;
}